<div class="contact-container">
    <h1>Contact Us</h1>
    <p>Customer service is our #1 goal here at Knifeworks, because without our customers our business would not be where
        we are today. Knifeworks strives for customer satisfaction. We are here to help you with any matters you may
        have a concern or inquiry about please feel free to email or contact us below.</p>
    <p>Toll Free Number: 888-225-9775</p>
    <p>Local Phone Number: 318-649-8401</p>
    <p>Local Phone Number: 318-649-8401</p>
    <p>Email:</p>
    <p>knifeshop@abv.bg</p>
    <p>We're happy to answer questions or help you with returns.
        Please fill out the form below if you need assistance.</p>
    <form>
        <input matInput placeholder="Enter your name" formControlName="name" required type="text" />
        <input matInput placeholder="Enter your phone number" formControlName="phone" required type="number" />
        <input matInput placeholder="Enter your email" formControlName="email" required type="email" />
        <textarea matInput placeholder="Enter your Question" formControlName="questions" required
            type="textarea"></textarea>
            <button mat-raised-button color="primary" type="submit">Ask us!</button>
    </form>
</div>