<div class="messages-container">
    <div class="messages-wrapper" *ngIf="allMessages.length > 0; else noMessages">
        <div class="message-main" *ngFor="let m of allMessages">
            <p><b>From:</b> {{m.name}}</p>
            <p><b>Phone:</b> {{m.phone}}</p>
            <p><b>Email:</b> {{m.email}}</p>
            <p><b>Message:</b> {{m.questions}}</p>
            <button mat-button mat-raised-button color="warn" (click)="deleteMessage(m.id)"><mat-icon>delete</mat-icon>Delete</button>
        </div>  
    </div>
    <ng-template #noMessages>
        <h2>You dont have any messages.</h2>
      </ng-template>
</div>
