.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-navigation {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #465944;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.top-navigation > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.top-navigation > ul > li {
    text-decoration: none;
    list-style: none;
    color: #ffff;
    text-transform: uppercase;
    cursor: pointer;
}
.top-navigation > ul > li:hover {
    color: yellowgreen;
}

main {
    display: flex;
    width: 100%;
    padding: 15px 35px;
    height: 100%;
    justify-content: space-around;
}
.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 240px;
    height: 100vh;
    margin-right: 30px;
    background-color: #e8e8e8;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.caroulsel-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    
}
app-sidebar {
    width: 100%;
    height: 100%;
}
.home-info {
    margin-top: 20px;
    background-color: #465944;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
}
img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.follow-us {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    margin-right: 20px;
}
h1 {
    margin-bottom: 15px;
}
