<div class="home-container">
    <nav class="top-navigation">
        <ul>
            <li>Special Offerts</li>
            <li routerLink="contacts">Contacts</li>
            <li>Payment Methods</li>
            <li>Shipping policy</li>
        </ul>
    </nav>
    <main>
        <section class="left-section">
            <app-sidebar></app-sidebar>
        </section>
        <section class="caroulsel-wrapper">
            <app-carousel [images]="images" [autoSlide]="false"></app-carousel>
            <div class="home-info">
                <h1>The Best Place to Buy Knives Online</h1>
                <p>Welcome to your resource for all things cutlery, shaving, and security. Since 1995 the Knife Center
                    has been giving you the best "Old Fashioned" service. Buy knives by browsing from over 20,000
                    products, including pocket knives for every use, outdoor, camping, and survival knives. If you are a
                    Swiss Army Knife fan, don't miss our selection of Swiss Army Knives, multitools and kitchen cutlery
                    from Victorinox, or kitchen knives from Henckels, Wusthof and more. We also offer the finest Custom
                    Made Knives and Semi-Custom Made Knives on the web!</p>
            </div>
            <div class="follow-us">
                <h3>Follow us on:</h3>
                <img src="../../../assets/twitter.png" />
                <img src="../../../assets/facebook.png">
                <img src="../../../assets/instagram.png">
                <img src="../../../assets/linkedin.png">
                <img src="../../../assets/youtube.png">
            </div>
        </section>
    </main>
</div>