<div class="shippingPolicy-container">
    <h1>Shipping Policy:</h1>
    <h3>The items that we sell at the KnifeShop are relatively high in value and vary greatly in weight. We calculate shipping charges based primarily on the weight and distance and not on the value of the item. Our intent is to charge you approximately what it will cost us to ship it. We have set up this page to help you determine the approximate costs.</h3>
    <div class="shippingPolicy-Wrapper">
        <div class="time-travelling">
            <h5>Estimated time:</h5>
            <p>1-3 business days in USA</p>
            <p>5-6 business days in Europe</p>
        </div>
        <div class="time-travelling">
            <h5>Orders Under $95:</h5>
            <p>Mostly price is 7-10$</p>
        </div>
        <div class="time-travelling">
            <h5>Free Shipping:</h5>
            <p>Orders over 95$</p>
            <p>Anywhere in the world</p>
        </div>
        <div class="time-travelling">
            <h5>Mail when it is comming:</h5>
            <p>Free mail when order is comming.</p>
        </div>
        <div class="time-travelling">
            <h5>Tracking your order:</h5>
            <p>Track your order anytime anywhere.</p>
            <p>Download our app and watch it.</p>
        </div>
        <div class="time-travelling">
            <h5>Return items:</h5>
            <p>You can return you order in 30days free.</p>
            <p>Keep your paycheck when you want to return.</p>
        </div>
    </div>
</div>
