<div *ngIf="images && images.length > 0" class="caroulsel-container">
    <img *ngFor="let image of images let i=index"
     [src]="image.imageSrc" [alt]="image.altTitle"
     [ngClass]="{'image-active': selectedIndex === i}" class="fade">

     <div *ngIf="indicators" class="caroulsel-dot-container">
         <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}" (click)="selectImage(i)"></span>
     </div>

     <div *ngIf="controls" class="btn-caroulsel btn-prev">
        <span class="material-icons" (click)="onPrevClick()">
            arrow_back_ios
            </span>
     </div>
     <div *ngIf="controls" class="btn-caroulsel btn-next">
        <span class="material-icons" (click)="onNextClick()">
            arrow_forward_ios
            </span>
            
     </div>
</div>
