.card-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ECF3FF;

}
.left-side-card {
    padding-top: 30px;
    display: flex;
    width: 750px;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
   
}
.right-side-card {
    padding: 30px 40px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
 
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    width: 750px;
    margin-bottom: 20px;
}
.item-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item-wrapper {
    display: flex;
    width: 300px;
    margin-bottom: 30px;
    margin-right: 30px;
    height: 150px;
    box-shadow: 0 0 20px rgb(36 37 38 / 85%);
    justify-content: space-around;
}
img {
    width: 60%;
    object-fit: cover;
}
.remove-button {
    margin-bottom: 8px;
}
.price-holder {
    margin-top: 8px;
}
h3 {
    margin-bottom: 10px;
}
.pay-button {
    width: 50%;
    margin-top: 20px;
    align-self: center;
}
.nothingToPay {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 50px 30px;
}
.sadFace,.happyFace {
    width: 125px;
    height: 100px;
}
.happy-wrapper {
    display: flex;
    justify-content: center;
}
.add-product {
    width: 50%;
    margin-right: 20px;
    align-self: center;
}
