<div class="card-container">
    <div class="left-side-card">
        <h3>ds:</h3>
    <div class="items-container">
        <div class="item-wrapper">
            <img src="https://cdn11.bigcommerce.com/s-efe0x2hvzk/images/stencil/1280x1280/products/8195/13065/knifework-k08pbk__41686.1566586532.jpg?c=2" alt="picture of knife" />
            <div class="item-info">
                <h5 class="price-holder">Price:</h5>
                <p> $ 150</p>
                <h5>Quality:</h5>
                <p>4</p>
                <button class="remove-button" mat-button mat-raised-button color="warn">Remove</button>
            </div>
        </div>
    </div>
    </div>
    <div class="right-side-card">
        <h3>TOTAL: $150</h3>
        <button class="pay-button" mat-button mat-raised-button color="primary">PAY NOW</button>
        <button class="pay-button" mat-button mat-raised-button color="warn" (click)="clearCard()">CLEAR ALL CARD and BACK</button>
    </div>
</div>
